li {
  border: 1px solid lightgray;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 10px;
  width: 100%;
}

li.active {
  border-color: lightsalmon;
  border-width: 3px;
}

li:hover {
  border-color: white;
}

li a {
  align-items: center;
  color: lightgray;
  display: flex;
  font-size: 28px;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

li.active a {
  color: lightsalmon;
}

li:hover a {
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
}

.overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
}

nav {
  color: white;
  position: fixed;
  left: 0;
  height: 100%;
  width: 80px;
  background: grey;
  top: 0;
  transform: translateX(-79px);
  transition: all 0.2s ease-in-out;
}
