.accordion {
  border: 1px solid lightgray;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}

.accordion .body {
  display: flex;
  padding: 10px;
}

p {
  background: darkgray;
  color: black;
  margin: 0;
  padding: 10px;
}
